# /////////////////////////
# /////////Exclude/////////
# Data Folders
/src/Data/
/src/Test/
data_path

#Compiled folder
/bin


# Eclipse Files
/.settings/
*.class

# Log Files
*.log

# Extra Files
*.ctxt
.mtj.tmp/
hs_err_pid*
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# /////////////////////////
# /////////Include/////////
# Libraries
!libraries/bouncycastle.jar