# /////////////////////////
# /////////Exclude/////////
# Data Folders
/src/Data/
/src/Test/
/data_path

#Compiled folder
/bin


# Eclipse Files
/.settings/
/.classpath
/.project
*.class
*.project

# Log Files
*.log

# Extra Files
*.ctxt
.mtj.tmp/
hs_err_pid*

# /////////////////////////
# /////////Include/////////
# Libraries
!libraries/