# /////////////////////////
# /////////Exclude/////////
# Data Folders
/src/data/
/src/test/
/data_path

#Compiled folder
/bin


# Eclipse Files
/.settings/
*.class

# Log Files
*.log

# Extra Files
*.ctxt
.mtj.tmp/
hs_err_pid*

# /////////////////////////
# /////////Include/////////
# Libraries
!libraries/